apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base

helmCharts:
  - name: myapp
    path: ../../../chart
    releaseName: myapp
    namespace: prod
    valuesInline:
      replicaCount: 3
      image:
        tag: stable
      resources:
        requests:
          cpu: 200m
          memory: 256Mi
        limits:
          cpu: 500m
          memory: 512Mi

